{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>

    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <div class="asciinema">
        <script id="asciicast-0L7Vw5BMV3c8tEZgvQowg4rbT"
                src="https://asciinema.org/a/0L7Vw5BMV3c8tEZgvQowg4rbT.js"
                preload="true"
                data-autoplay="true"
                data-rows="10"
                data-speed="1.5"
                idle-time-limit="3"
                data-theme="solarized-dark"
                async></script>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-12 col-xl-12">
      {{- .Content -}}
    </div>
  </div>

</section>
{{ end }}

{{ define "sidebar-prefooter" }}
{{ if eq $.Site.Language.LanguageName "English" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center bottom-panels">
      <div class="col-lg-5">
        <h2 class="h4">SQL Sources</h2>
        <p>
          <code>sq</code> supports input from and output to common databases.
        </p>
        <ul>
          <li>Postgres</li>
          <li>SQLite</li>
          <li>SQL Server / Azure SQL Edge</li>
          <li>MySQL</li>
        </ul>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Other Sources</h2>
        <p>In addition to SQL sources, <code>sq</code> can import data from these formats:</p>
        <ul>
          <li>Excel XLSX</li>
          <li>CSV</li>
          <li>TSV</li>
          <li>JSON <span class="mute">(beta)</span></li>
          <li>JSONL <span class="mute">(JSON Lines)</span></li>
          <li>JSONA <span class="mute">(JSON Array)</span></li>
          <li>XML</li>
        </ul>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Output Formats</h2>
        <p>
          <code>sq</code> can output to a plethora of file formats, or insert results directly
          to a database table.
        </p>
        <ul>
          <li>SQL <code>INSERT</code> to Postgres, SQLite, SQL Server / Azure SQL Edge, MySQL</li>
          <li>Excel XLSX</li>
          <li>CSV</li>
          <li>TSV</li>
          <li>JSON</li>
          <li>JSONL (JSON Lines)</li>
          <li>JSONA (JSON Array)</li>
          <li>XML</li>
          <li>HTML</li>
          <li>Markdown</li>
          <li>Raw (bytes)</li>
        </ul>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}

