
// This is the "Commands" section of the sidebar.
nav.docs-links {
  #section-c441ee50c88f6e5e3a7c69fc69dad8b8 {
    a.docs-link {
      font-family: $font-family-monospace;
    }
  }
}


div.docs-sidebar {
  background-color: $sidebar-bgcolor;
}



/* hero section */
.hero {
  text-align: center;
  background-color: var(--bg-color);
  padding: 1rem 0 10rem 0;
}

.hero__title {
  font-weight: 900;
  color: var(--primary-color);
}

.hero h1 {
  margin-block-start: 0.2em;
}


$terminal_bgcolor: #232323;

div.mybox {
  border: 1px solid red;
  padding: 0;
  margin: 0;
  //min-height: 400px;
  background-color: $terminal_bgcolor;
  border-radius: 12px;
  min-height: 400px;
  max-height: 400px;
}


pre.innerbox {
  border: 1px solid blue;
  //min-height: 360px;
  //max-height: 360px;
  //white-space: pre-line;
  //padding-top: 1rem;
}

pre.innerbox code.shell-session {
  max-width: 100%;
  overflow-x: hidden;
  //background-color: none;
}

pre.innerbox code.hljs {
  background-color: $terminal_bgcolor;
}



.hero__description {
  margin: -1rem auto 2rem auto;
}

.hero__terminal {
  //width: 60%;
  margin: -11rem auto 3rem auto;
  text-align: left;
  //color: white;
  padding: 0 1rem;
  border-radius: 4px;
  //background-color: #232323;
  min-height: 360px;
  animation: fadeUp 2s;
  box-shadow: 0px 12px 36.8px 9.2px rgba(0, 0, 0, 0.1);
}

//.hero__terminal code.shell-session {
//  max-width: 100%;
//  overflow-x: hidden;
//}
//
//
//.hero__terminal pre {
//  white-space: pre-line;
//  padding-top: 1rem;
//}
