
@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  src: url(/static/fonts/Lato/Lato-Regular.woff) format("woff")
}

@font-face {
  font-family: Lato;
  font-style: italic;
  font-weight: 400;
  //src: url(/static/fonts/lato-normal-italic.f28f2d6.woff) format("woff")
  src: url(/static/fonts/Lato/Lato-Italic.woff) format("woff")
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  //src: url(/static/fonts/lato-black.f80bda6.woff) format("woff")
  src: url(/static/fonts/Lato/Lato-Black.woff) format("woff")
}

@font-face {
  font-family: Lato;
  font-style: italic;
  font-weight: 600;
  src: url(/static/fonts/Lato/Lato-BlackItalic.woff) format("woff")
}

//@font-face {
//  font-family: Roboto Mono;
//  font-style: normal;
//  font-weight: 400;
//  src: url(/static/fonts/RobotoMono-Regular.0b6a547.woff) format("woff")
//}
//
//@font-face {
//  font-family: Roboto Mono;
//  font-style: normal;
//  font-weight: 600;
//  src: url(/static/fonts/RobotoMono-Bold.819f3b2.woff) format("woff")
//}
